<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright © 2016 - 2021 Stefan Berg <isbeorn86+NINA@googlemail.com> and the N.I.N.A. contributors

    This file is part of N.I.N.A. - Nighttime Imaging 'N' Astronomy.

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.-->
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Fastenshtein" version="1.0.0.5" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Nito.AsyncEx.Context" version="5.0.0" targetFramework="net48" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="net48" />
  <package id="Nito.Disposables" version="2.0.0" targetFramework="net48" />
  <package id="OxyPlot.Core" version="2.0.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.113.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.113.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net48" />
</packages>