*.suo
bin/
NINA/bin/
NINA/obj/
NINASetup_x86/Debug/
NINASetup_x86/Release/
NINASetup/Debug/
NINASetup/Release/
NINACustomControlLibrary/bin/
NINACustomControlLibrary/obj/
NINATest/bin/
NINATest/obj/
nikoncswrapper/bin/
nikoncswrapper/obj/
StarDataImport/bin/
StarDataImport/obj/
SetupCygwinInstallAction/obj/
SetupCygwinInstallAction/bin/
packages/
NINA/External/Canon/
NINA/External/Nikon/
NINA/External/x86/Canon/
NINA/External/x86/Nikon/
NINA/External/x64/Canon/
NINA/External/x64/Nikon/
/.vs/NINA/v15/sqlite3/storage.ide
/.vs/NINA/v15
/.vs
/.axoCover/runs
/.axoCover
/TestResults
