*.suo
bin/
NINA/bin/
NINA/obj/
NINASetup/Debug/
NINASetup/Release/
NINACustomControlLibrary/bin/
NINACustomControlLibrary/obj/
NINATest/bin/
NINATest/obj/
nikoncswrapper/bin/
nikoncswrapper/obj/
StarDataImport/bin/
StarDataImport/obj/
SetupCygwinInstallAction/obj/
SetupCygwinInstallAction/bin/
packages/
NINA/External/Canon/
NINA/External/Nikon/
/.vs/NINA/v15/sqlite3/storage.ide
