<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NINA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <NINA.Properties.Settings>
      <setting name="CameraId" serializeAs="String">
        <value>ASCOM.Simulator.Camera</value>
      </setting>
      <setting name="FilterWheelId" serializeAs="String">
        <value>ASCOM.Simulator.FilterWheel</value>
      </setting>
      <setting name="ImageFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageFilePattern" serializeAs="String">
        <value>$$IMAGETYPE$$\\$$DATETIME$$_$$FILTER$$_$$SENSORTEMP$$_$$EXPOSURETIME$$s_$$FRAMENR$$</value>
      </setting>
      <setting name="PHD2ServerUrl" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="PHD2ServerPort" serializeAs="String">
        <value>4400</value>
      </setting>
      <setting name="PrimaryColor" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="SecondaryColor" serializeAs="String">
        <value>#FF1D2731</value>
      </setting>
      <setting name="BorderColor" serializeAs="String">
        <value>#AABCBCBC</value>
      </setting>
      <setting name="BackgroundColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="DitherPixels" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="DitherRAOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TelescopeId" serializeAs="String">
        <value>ASCOM.Simulator.Telescope</value>
      </setting>
      <setting name="ButtonBackgroundColor" serializeAs="String">
        <value>#FF0B3C5D</value>
      </setting>
      <setting name="ButtonBackgroundSelectedColor" serializeAs="String">
        <value>#FF2190DB</value>
      </setting>
      <setting name="ButtonForegroundColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="ButtonForegroundDisabledColor" serializeAs="String">
        <value>#FF1D2731</value>
      </setting>
      <setting name="AltPrimaryColor" serializeAs="String">
        <value>#FF550C18</value>
      </setting>
      <setting name="AltSecondaryColor" serializeAs="String">
        <value>#FF1B2A41</value>
      </setting>
      <setting name="AltBorderColor" serializeAs="String">
        <value>#FF550C18</value>
      </setting>
      <setting name="AltBackgroundColor" serializeAs="String">
        <value>#FF02010A</value>
      </setting>
      <setting name="AltButtonBackgroundColor" serializeAs="String">
        <value>#FF550C18</value>
      </setting>
      <setting name="AltButtonBackgroundSelectedColor" serializeAs="String">
        <value>#FF96031A</value>
      </setting>
      <setting name="AltButtonForegroundColor" serializeAs="String">
        <value>#FF02010A</value>
      </setting>
      <setting name="AltButtonForegroundDisabledColor" serializeAs="String">
        <value>#FF443730</value>
      </setting>
      <setting name="FileType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AstrometryAPIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="PlateSolverType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AnsvrFocalLength" serializeAs="String">
        <value>750</value>
      </setting>
      <setting name="AnsvrPixelSize" serializeAs="String">
        <value>3.8</value>
      </setting>
      <setting name="CygwinLocation" serializeAs="String">
        <value>%localappdata%\NINA\cygwin</value>
      </setting>
      <setting name="EpochType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="HemisphereType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AnsvrSearchRadius" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="AutoMeridianFlip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinutesAfterMeridian" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RecenterAfterFlip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WeatherDataType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OpenWeatherMapAPIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenWeatherMapUrl" serializeAs="String">
        <value>http://api.openweathermap.org/data/2.5/weather</value>
      </setting>
      <setting name="ColorSchemaType" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="AlternativeColorSchemaType" serializeAs="String">
        <value>Dark</value>
      </setting>
      <setting name="FocuserId" serializeAs="String">
        <value>ASCOM.Simulator.Focuser</value>
      </setting>
      <setting name="PS2FocalLength" serializeAs="String">
        <value>750</value>
      </setting>
      <setting name="PS2PixelSize" serializeAs="String">
        <value>3.8</value>
      </setting>
      <setting name="PS2Regions" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="PS2Location" serializeAs="String">
        <value />
      </setting>
      <setting name="MeridianFlipSettleTime" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en-GB</value>
      </setting>
      <setting name="PauseTimeBeforeMeridian" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DatabaseLocation" serializeAs="String">
        <value>%localappdata%\NINA\NINA.sqlite</value>
      </setting>
      <setting name="Latitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Longitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SkyAtlasImageRepository" serializeAs="String">
        <value />
      </setting>
      <setting name="NotificationWarningColor" serializeAs="String">
        <value>#FFF5A300</value>
      </setting>
      <setting name="NotificationErrorColor" serializeAs="String">
        <value>#FFDB0606</value>
      </setting>
      <setting name="AltNotificationWarningColor" serializeAs="String">
        <value>#FFF5A300</value>
      </setting>
      <setting name="AltNotificationErrorColor" serializeAs="String">
        <value>#FFF5A300</value>
      </setting>
      <setting name="AutoStretchFactor" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="AnnotateImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FocuserUseFilterWheelOffsets" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FocuserAutoFocusStepSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="FocuserAutoFocusInitialOffsetSteps" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="FocuserAutoFocusExposureTime" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="UseTelescopeSnapPort" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TelescopeSnapPortStart" serializeAs="String">
        <value>:SNAP1,1#</value>
      </setting>
      <setting name="TelescopeSnapPortStop" serializeAs="String">
        <value>:SNAP1,0#</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DevicePollingInterval" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="EstimatedDownloadTime" serializeAs="String">
        <value>00:00:00</value>
      </setting>
    </NINA.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ToastNotifications" publicKeyToken="e89d9d7314a7c797" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>