<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright © 2016 - 2024 Stefan Berg <isbeorn86+NINA@googlemail.com> and the N.I.N.A. contributors 

    This file is part of N.I.N.A. - Nighttime Imaging 'N' Astronomy.

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.-->
<LayoutRoot>
	<RootPanel Orientation="Horizontal">
		<LayoutPanel Orientation="Vertical" DockWidth="3.09009690856194*">
			<LayoutPanel Orientation="Horizontal" DockHeight="1.51559251559252*">
				<LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.47013434562044*">
					<LayoutAnchorablePane Id="1d68f044-3c78-4d8c-930c-eb30630ffd98" DockHeight="0.748973302893854*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-596" FloatingTop="535">
						<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Camera" IsSelected="True" ContentId="CameraVM" FloatingLeft="-596" FloatingTop="535" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="11/10/2021 16:28:06" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="1" />
						<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Focuser" ContentId="FocuserVM" FloatingLeft="447" FloatingTop="438" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="11/10/2021 16:28:03" />
					</LayoutAnchorablePane>
					<LayoutAnchorablePane DockHeight="0.232959508789924*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-451" FloatingTop="229">
						<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Filter Wheel" IsSelected="True" ContentId="FilterWheelVM" FloatingLeft="-451" FloatingTop="229" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="12/14/2018 16:16:39" />
					</LayoutAnchorablePane>
					<LayoutAnchorablePane Id="36a76c25-e6a1-41b0-bad8-b8729d9d284f" DockHeight="0.486583748551683*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-451" FloatingTop="229" />
					<LayoutAnchorablePaneGroup Orientation="Vertical" DockHeight="1.49189371328354*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-158" FloatingTop="555">
						<LayoutAnchorablePane Id="62e81261-8f55-45aa-80b0-79abe5c0f0da" DockHeight="0.862164383349008*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-158" FloatingTop="555">
							<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Telescope" IsSelected="True" ContentId="TelescopeVM" FloatingLeft="-158" FloatingTop="555" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="11/10/2021 16:29:12" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="1" />
						</LayoutAnchorablePane>
						<LayoutAnchorablePane Id="343f6812-121d-49cd-a944-e181de6ed1de" DockHeight="1.137835616651*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-155" FloatingTop="804">
							<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Weather" IsSelected="True" ContentId="WeatherDataVM" FloatingLeft="-155" FloatingTop="804" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="11/10/2021 16:29:10" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="7" />
						</LayoutAnchorablePane>
					</LayoutAnchorablePaneGroup>
				</LayoutAnchorablePaneGroup>
				<LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="2.39602516007619*">
					<LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="2.20655737704918*" DockHeight="1.54677754677755*">
						<LayoutAnchorablePane Id="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" Name="ToolsPane" DockWidth="2.4541183068977*" DockHeight="1.54677754677755*">
							<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image" IsSelected="True" ContentId="ImageControlVM" CanClose="True" LastActivationTimeStamp="11/10/2021 16:29:06" />
						</LayoutAnchorablePane>
						<LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.752439070151485*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="209" FloatingTop="418">
							<LayoutAnchorablePane DockHeight="1.17629794555207*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="719" FloatingTop="382">
								<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Statistics" IsSelected="True" ContentId="ImageStatisticsVM" FloatingLeft="719" FloatingTop="382" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="12/14/2018 15:58:15" />
							</LayoutAnchorablePane>
							<LayoutAnchorablePane DockHeight="0.94818338224876*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="209" FloatingTop="418">
								<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="HFR history" IsSelected="True" ContentId="ImageHistoryVM" FloatingLeft="209" FloatingTop="418" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="12/14/2018 15:58:12" />
							</LayoutAnchorablePane>
						</LayoutAnchorablePaneGroup>
					</LayoutAnchorablePaneGroup>
					<LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="0.453222453222453*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="175" FloatingTop="558">
						<LayoutAnchorablePane FloatingWidth="1370" FloatingHeight="689" FloatingLeft="175" FloatingTop="558">
							<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Guider" IsSelected="True" ContentId="GuiderVM" FloatingLeft="175" FloatingTop="558" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="12/14/2018 15:57:43" />
						</LayoutAnchorablePane>
					</LayoutAnchorablePaneGroup>
				</LayoutAnchorablePaneGroup>
				<LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.553512625450909*">
					<LayoutAnchorablePane Id="ef39f278-30c6-48a1-be41-bd0a59507cfe" DockHeight="1.49792531120332*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="813" FloatingTop="277">
						<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Imaging" IsSelected="True" ContentId="ImagingVM" FloatingLeft="813" FloatingTop="277" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="12/14/2018 16:19:54" />
					</LayoutAnchorablePane>
					<LayoutAnchorablePane Id="4137b9a9-22b3-4074-b3bf-2cb6bf9a0c20" DockHeight="1.20155297835032*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1086" FloatingTop="440">
						<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Sequence" IsSelected="True" ContentId="SequenceVM" FloatingLeft="1086" FloatingTop="440" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="12/14/2018 15:58:25" />
					</LayoutAnchorablePane>
					<LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="0.798447021649681*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1019" FloatingTop="311">
						<LayoutAnchorablePane Id="0b5e66a1-66db-4ec5-9dc5-9144fa9d3e7b" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1019" FloatingTop="311">
							<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image History" IsSelected="True" ContentId="ThumbnailVM" FloatingLeft="1019" FloatingTop="311" FloatingWidth="1370" FloatingHeight="689" LastActivationTimeStamp="12/14/2018 15:55:44" />
						</LayoutAnchorablePane>
					</LayoutAnchorablePaneGroup>
				</LayoutAnchorablePaneGroup>
			</LayoutPanel>
		</LayoutPanel>
		<LayoutAnchorablePane Id="9fc5ce13-f21a-4da4-a294-7f5a58ca9e73" DockWidth="0.898223352733146*" DockHeight="1.54677754677755*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="2163" FloatingTop="750" />
	</RootPanel>
	<TopSide />
	<RightSide />
	<LeftSide />
	<BottomSide />
	<FloatingWindows />
	<Hidden>
		<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Safety Monitor" IsSelected="True" ContentId="SafetyMonitorVM" CanClose="True" LastActivationTimeStamp="07/20/2022 21:25:22" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="1" />
		<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Flat Panel" IsSelected="True" ContentId="FlatDeviceVM" FloatingLeft="-451" FloatingTop="229" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/20/2022 21:25:22" PreviousContainerId="36a76c25-e6a1-41b0-bad8-b8729d9d284f" PreviousContainerIndex="1" />
		<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Rotator" IsSelected="True" ContentId="RotatorVM" FloatingLeft="-156" FloatingTop="530" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/20/2022 21:25:22" PreviousContainerId="1d68f044-3c78-4d8c-930c-eb30630ffd98" PreviousContainerIndex="2" />
		<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Dome" IsSelected="True" ContentId="DomeVM" FloatingLeft="-154" FloatingTop="555" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/20/2022 21:25:22" PreviousContainerId="62e81261-8f55-45aa-80b0-79abe5c0f0da" PreviousContainerIndex="1" />
		<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Switch" IsSelected="True" ContentId="SwitchVM" FloatingLeft="419" FloatingTop="1030" FloatingWidth="772" FloatingHeight="652" CanClose="True" LastActivationTimeStamp="07/20/2022 21:25:22" PreviousContainerId="343f6812-121d-49cd-a944-e181de6ed1de" PreviousContainerIndex="1" />
		<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Plate Solving" IsSelected="True" ContentId="PlatesolveVM" FloatingLeft="2163" FloatingTop="750" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/20/2022 21:25:22" PreviousContainerId="9fc5ce13-f21a-4da4-a294-7f5a58ca9e73" PreviousContainerIndex="4" />
		<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Autofocus" IsSelected="True" ContentId="AutoFocusVM" FloatingLeft="1986" FloatingTop="764" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/20/2022 21:25:22" PreviousContainerId="9fc5ce13-f21a-4da4-a294-7f5a58ca9e73" PreviousContainerIndex="2" />
		<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Manual Focus Targets" IsSelected="True" ContentId="FocusTargetsVM" FloatingLeft="1974" FloatingTop="755" FloatingWidth="772" FloatingHeight="652" CanClose="True" LastActivationTimeStamp="07/20/2022 21:25:22" PreviousContainerId="9fc5ce13-f21a-4da4-a294-7f5a58ca9e73" PreviousContainerIndex="0" />
	</Hidden>
</LayoutRoot>