<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <RootPanel Orientation="Horizontal">
    <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="218">
      <LayoutAnchorablePane DockWidth="218" FloatingWidth="200" FloatingHeight="727" FloatingLeft="233" FloatingTop="634">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Camera" IsSelected="True" ContentId="CameraVM" FloatingLeft="233" FloatingTop="634" FloatingWidth="200" FloatingHeight="727" CanClose="False" LastActivationTimeStamp="08/14/2017 16:39:25" />
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Filter Wheel" ContentId="FilterWheelVM" FloatingLeft="299" FloatingTop="389" FloatingWidth="200" FloatingHeight="727" CanClose="False" LastActivationTimeStamp="08/14/2017 16:39:25" />
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Focuser" ContentId="FocuserVM" FloatingLeft="300" FloatingTop="372" FloatingWidth="200" FloatingHeight="727" CanClose="False" LastActivationTimeStamp="08/14/2017 16:39:24" PreviousContainerId="9abbb83b-4bf0-4d18-b62f-4d0516e4502f" PreviousContainerIndex="0" />
      </LayoutAnchorablePane>
      <LayoutAnchorablePaneGroup Orientation="Vertical" DockHeight="1.63614457831325*" FloatingWidth="200" FloatingHeight="727" FloatingLeft="263" FloatingTop="522">
        <LayoutAnchorablePane DockHeight="1.31531683070071*" FloatingWidth="200" FloatingHeight="727" FloatingLeft="263" FloatingTop="522">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Telescope" IsSelected="True" ContentId="TelescopeVM" FloatingLeft="263" FloatingTop="522" FloatingWidth="200" FloatingHeight="727" CanClose="False" LastActivationTimeStamp="06/19/2017 21:46:08" />
        </LayoutAnchorablePane>
        <LayoutAnchorablePane DockHeight="0.984744273243892*" FloatingWidth="200" FloatingHeight="727" FloatingLeft="94" FloatingTop="794">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="PHD2" IsSelected="True" ContentId="PHD2VM" FloatingLeft="94" FloatingTop="794" FloatingWidth="200" FloatingHeight="727" CanClose="False" LastActivationTimeStamp="06/19/2017 21:46:23" PreviousContainerId="828e40b4-6f15-4b84-b0b2-0b45b4a7af5d" PreviousContainerIndex="1" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutAnchorablePaneGroup>
    <LayoutPanel Orientation="Horizontal">
      <LayoutDocumentPane DockWidth="4*">
        <LayoutDocument Title="Image Area" IsSelected="True" IsLastFocusedDocument="True" ContentId="ImageControlVM" CanClose="False" LastActivationTimeStamp="08/14/2017 16:38:00" />
      </LayoutDocumentPane>
    </LayoutPanel>
    <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="253">
      <LayoutAnchorablePane Id="9abbb83b-4bf0-4d18-b62f-4d0516e4502f" DockWidth="253" DockHeight="1.2855433595342*" FloatingWidth="200" FloatingHeight="727" FloatingLeft="1428" FloatingTop="386">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Statistics" IsSelected="True" ContentId="ImageStatisticsVM" FloatingLeft="1428" FloatingTop="386" FloatingWidth="200" FloatingHeight="727" CanClose="False" LastActivationTimeStamp="08/14/2017 16:38:31" />
      </LayoutAnchorablePane>
      <LayoutAnchorablePane DockHeight="1.05717346801379*" FloatingWidth="200" FloatingHeight="727" FloatingLeft="1438" FloatingTop="343">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image History" IsSelected="True" ContentId="ImageHistoryVM" FloatingLeft="1438" FloatingTop="343" FloatingWidth="200" FloatingHeight="727" CanClose="False" LastActivationTimeStamp="08/14/2017 16:38:56" />
      </LayoutAnchorablePane>
      <LayoutAnchorablePane Id="828e40b4-6f15-4b84-b0b2-0b45b4a7af5d" DockHeight="1.47372778419236*" FloatingWidth="200" FloatingHeight="727" FloatingLeft="1713" FloatingTop="838">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Imaging" ContentId="ImagingVM" FloatingLeft="1713" FloatingTop="838" FloatingWidth="200" FloatingHeight="727" CanClose="False" LastActivationTimeStamp="06/19/2017 21:53:13" />
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Sequence" IsSelected="True" ContentId="SequenceVM" CanClose="False" LastActivationTimeStamp="08/14/2017 16:39:30" />
      </LayoutAnchorablePane>
      <LayoutAnchorablePane Id="c14b8cb1-b9e5-4563-a5f3-60d97cdfd810" DockHeight="1.84306113371562*" FloatingWidth="200" FloatingHeight="727" FloatingLeft="1342" FloatingTop="746" />
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide>
    <LayoutAnchorGroup PreviousContainerId="c14b8cb1-b9e5-4563-a5f3-60d97cdfd810">
      <LayoutAnchorable AutoHideWidth="417" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Polar alignment" ContentId="PolarAlignmentVM" FloatingLeft="1332" FloatingTop="780" FloatingWidth="200" FloatingHeight="727" CanClose="False" LastActivationTimeStamp="06/19/2017 21:58:23" PreviousContainerId="828e40b4-6f15-4b84-b0b2-0b45b4a7af5d" PreviousContainerIndex="1" />
      <LayoutAnchorable AutoHideWidth="389" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Plate Solving" ContentId="PlatesolveVM" FloatingLeft="1342" FloatingTop="746" FloatingWidth="200" FloatingHeight="727" CanClose="False" LastActivationTimeStamp="06/19/2017 21:58:18" PreviousContainerId="828e40b4-6f15-4b84-b0b2-0b45b4a7af5d" PreviousContainerIndex="1" />
      <LayoutAnchorable AutoHideWidth="401" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Weather" ContentId="WeatherDataVM" FloatingLeft="1428" FloatingTop="926" FloatingWidth="200" FloatingHeight="727" CanClose="False" LastActivationTimeStamp="08/14/2017 16:38:32" PreviousContainerId="9abbb83b-4bf0-4d18-b62f-4d0516e4502f" PreviousContainerIndex="1" />
    </LayoutAnchorGroup>
  </RightSide>
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>