<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutPanel Orientation="Horizontal" DockHeight="1.51767151767152*">
      <LayoutPanel Orientation="Vertical" DockWidth="1.47774158523344*">
        <LayoutPanel Orientation="Horizontal" DockHeight="1.53014553014553*">
          <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.396628826969384*">
            <LayoutAnchorablePane Id="dc82cedb-e77b-4ce4-8d00-ca2987165c8e" DockHeight="0.838515098766366*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-401" FloatingTop="569">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Camera" IsSelected="True" ContentId="CameraVM" FloatingLeft="-494" FloatingTop="192" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:32:19" PreviousContainerId="812790ce-35ff-46ab-b747-81da43e797d2" PreviousContainerIndex="1" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Filterwheel" ContentId="FilterWheelVM" FloatingLeft="-84" FloatingTop="573" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:29:10" PreviousContainerId="812790ce-35ff-46ab-b747-81da43e797d2" PreviousContainerIndex="1" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Focuser" ContentId="FocuserVM" FloatingLeft="-490" FloatingTop="145" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:31:57" PreviousContainerId="812790ce-35ff-46ab-b747-81da43e797d2" PreviousContainerIndex="1" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Rotator" ContentId="RotatorVM" FloatingLeft="-87" FloatingTop="572" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:29:06" PreviousContainerId="812790ce-35ff-46ab-b747-81da43e797d2" PreviousContainerIndex="1" />
            </LayoutAnchorablePane>
            <LayoutAnchorablePaneGroup Orientation="Vertical" DockHeight="1.16148490123363*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-89" FloatingTop="602">
              <LayoutAnchorablePane DockHeight="0.948235294117647*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-89" FloatingTop="602">
                <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Telescope" IsSelected="True" ContentId="TelescopeVM" FloatingLeft="-89" FloatingTop="602" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:30:41" PreviousContainerId="812790ce-35ff-46ab-b747-81da43e797d2" PreviousContainerIndex="1" />
              </LayoutAnchorablePane>
              <LayoutAnchorablePane DockHeight="1.05176470588235*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-93" FloatingTop="776">
                <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Weather" IsSelected="True" ContentId="WeatherDataVM" FloatingLeft="-93" FloatingTop="776" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:30:45" PreviousContainerId="812790ce-35ff-46ab-b747-81da43e797d2" PreviousContainerIndex="7" />
              </LayoutAnchorablePane>
            </LayoutAnchorablePaneGroup>
          </LayoutAnchorablePaneGroup>
          <LayoutAnchorablePane Id="812790ce-35ff-46ab-b747-81da43e797d2" Name="ToolsPane" DockWidth="1.67690058479532*">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image" IsSelected="True" ContentId="ImageControlVM" CanClose="False" LastActivationTimeStamp="12/14/2018 13:32:40" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="0.926470588235294*">
            <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="1.09240924092409*">
              <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="0.997260273972603*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="78" FloatingTop="369">
                <LayoutAnchorablePane FloatingWidth="1370" FloatingHeight="689" FloatingLeft="78" FloatingTop="369">
                  <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Statistics" IsSelected="True" ContentId="ImageStatisticsVM" FloatingLeft="78" FloatingTop="369" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:29:59" PreviousContainerId="15779c0c-87dc-48ba-a7b2-81cd06050d46" PreviousContainerIndex="1" />
                </LayoutAnchorablePane>
              </LayoutAnchorablePaneGroup>
              <LayoutAnchorablePane Id="15779c0c-87dc-48ba-a7b2-81cd06050d46" DockHeight="1.0027397260274*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="139" FloatingTop="367">
                <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="HFR History" IsSelected="True" ContentId="ImageHistoryVM" FloatingLeft="140" FloatingTop="410" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:29:59" />
              </LayoutAnchorablePane>
            </LayoutAnchorablePaneGroup>
            <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.907590759075908*">
              <LayoutAnchorablePane FloatingWidth="1370" FloatingHeight="689" FloatingLeft="177" FloatingTop="403">
                <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Sequence" IsSelected="True" ContentId="SequenceVM" FloatingLeft="191" FloatingTop="403" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:32:39" PreviousContainerId="812790ce-35ff-46ab-b747-81da43e797d2" PreviousContainerIndex="1" />
                <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Imaging" ContentId="ImagingVM" FloatingLeft="177" FloatingTop="403" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:32:34" PreviousContainerId="812790ce-35ff-46ab-b747-81da43e797d2" PreviousContainerIndex="1" />
              </LayoutAnchorablePane>
              <LayoutAnchorablePaneGroup Orientation="Horizontal" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1083" FloatingTop="443">
                <LayoutAnchorablePane FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1083" FloatingTop="443">
                  <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image History" IsSelected="True" ContentId="ThumbnailVM" FloatingLeft="1083" FloatingTop="443" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:31:04" />
                </LayoutAnchorablePane>
              </LayoutAnchorablePaneGroup>
            </LayoutAnchorablePaneGroup>
          </LayoutAnchorablePaneGroup>
        </LayoutPanel>
      </LayoutPanel>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="0.522258414766558*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="917" FloatingTop="575">
        <LayoutAnchorablePane Id="5cbdcc08-0e5e-4734-9565-0289a366bf89" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="917" FloatingTop="575" />
      </LayoutAnchorablePaneGroup>
    </LayoutPanel>
    <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="0.482328482328482*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="315" FloatingTop="1004">
      <LayoutAnchorablePane DockWidth="1.67690058479532*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="315" FloatingTop="1004">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Guider" IsSelected="True" ContentId="GuiderVM" FloatingLeft="315" FloatingTop="1004" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:31:53" PreviousContainerId="812790ce-35ff-46ab-b747-81da43e797d2" PreviousContainerIndex="2" />
      </LayoutAnchorablePane>
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden>
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Polar Alignment" ContentId="PolarAlignmentVM" FloatingLeft="796" FloatingTop="1001" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:30:09" PreviousContainerId="5cbdcc08-0e5e-4734-9565-0289a366bf89" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Auto Focus" ContentId="AutoFocusVM" FloatingLeft="608" FloatingTop="574" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:30:09" PreviousContainerId="5cbdcc08-0e5e-4734-9565-0289a366bf89" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Plate Solving" ContentId="PlatesolveVM" FloatingLeft="917" FloatingTop="575" FloatingWidth="1370" FloatingHeight="689" CanClose="False" LastActivationTimeStamp="12/14/2018 13:30:10" PreviousContainerId="812790ce-35ff-46ab-b747-81da43e797d2" PreviousContainerIndex="1" />
  </Hidden>
</LayoutRoot>